<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3><%= a %></h3>
  <h3><%= b %></h3>
  <div><span>标题</span>xx</div>
  <div><span>副标题</span>xx</div>
  <div><img src="xx" alt=""></div>
  <div>内容:xx</div>
</body>
</html>